<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thadaninilesh.gophp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="thadaninilesh.gophp.INDEX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".getstart"
            android:label="Getting Started" >
        </activity>
        <activity
            android:name=".install"
            android:label="Installation and Configuration" >
        </activity>
        <activity
            android:name=".language"
            android:label="Language Reference" >
        </activity>
        <activity
            android:name=".features"
            android:label="Features" >
        </activity>
        <activity
            android:name=".functions"
            android:label="PHP at the Core" >
        </activity>
        <activity
            android:name=".corephp"
            android:label="PHP at the Core" >
        </activity>
    </application>

</manifest>
